name: ActionLog
on:
  push:
    branches:
      - master
    paths-ignore:
      - 'package.json'
      - 'CHANGELOG.md'
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - run: git fetch --tags

      # Install Jira Plugin
      - id: jira_install
        run: |
          yarn add -D @auto-it/jira

      # Clear Working Branch
      - id: add_all
        run: |
          git add .
          
      # Execute Changelog
      - name: Auto Action
        uses: terradatum/auto-action@master
        with:
          command: 'changelog'
          owner: 'Kimba666'
          plugins: 'jira'
          dry-run: 'false'
          base-branch: 'master'
          only-publish-with-release-label: 'false'
          name: 'Kimba'
          email: 'jwolflive@gmail.com'
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

      # Execute Version Bump
      - name: Auto Action
          uses: terradatum/auto-action@master
          with:
            command: 'version'
            owner: 'Kimba666'
            plugins: 'jira'
            dry-run: 'false'
            base-branch: 'master'
            only-publish-with-release-label: 'false'
            name: 'Kimba'
            email: 'jwolflive@gmail.com'
          env:
            GH_TOKEN: ${{ secrets.GH_TOKEN }}
            NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
